<p>page-customer works!</p>
 <!-- Phần web chính -->
 <div id="main">
    <div id="header">
        <!-- Begin nav -->
        <ul id="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#band">Đối tác</a></li>
            <li><a href="#tour">Liên hệ</a></li>
            <li><a href="http://localhost:4200/createTaskPage">Đăng ký sửa chữa</a></li>
            <li class="login-button" style=" background-color: #4CAF4F;"><a href="http://localhost:4200/login">Login</a></li>
        </ul>
        <!-- End nav-->

        <!-- Begin search button -->
        <div class="search-button">
            <i class="ti-search"></i>
        </div>

        <div id="menu" class="menu-mobi">
            <i class="ti-align-justify"></i>
        </div>
        <!-- End search button-->

    </div>

    <div id="slider">
        <div class="text-content">
        </div>
    </div>

    <div id="content" style="margin-top: -119px;">
        <!-- Content- section -->
        <div id="band" class="content-section">
            <h2 class="section-heading">Our Clients</h2> <!-- dùng để tạo -->
            <p class="section-sub-heading"> We have been working with some Fortune 500+ clients</p>
            <div class="band-img"></div>
        </div>
        <!-- Tour- section -->
        <div id="tour" class="tour-section"> <!--Vì phần magin không thể đổ màu được nên phải tạo một thẻ div bao lại, để đổ màu-->
            <div class="content-section">
                <!-- tour place -->
                <div class="tour-place-list" style="margin-top: -33%;">
                    <div class="tour-item">
                        <div class="place-img"></div>
                        <div class="place-about">
                            <h2 class="place-heading" >Membership Organisations</h2>
                            <p class="place-info">Our membership management software provides full automation of membership renewals and payments</p>
                            
                        </div>
                    </div>

                    <div class="tour-item">
                        <div class="place-img"></div>
                        <div class="place-about">
                            <h2 class="place-heading" >National Associations</h2>
                            <p class="place-info">Our membership management software provides full automation of membership renewals and payments </p>
                            
                        </div>
                    </div>

                    <div class="tour-item">
                        <div class="place-img"></div>
                        <div class="place-about">
                            <h2 class="place-heading" >Clubs And Groups</h2>
                            <p class="place-info">Our membership management software provides full automation of membership renewals and payments </p>
                            
                        </div>
                    </div>
                    
                </div>   
            </div>
        </div>
    </div>
</div>
