<h1 style="  margin-bottom: 2px;   margin-top: -27px; ">Chi tiết thông tin công việc</h1>
<div class="card">
    <div class="card-head" style="padding-bottom: 0px;">
        <p class="head-title" >Thông tin khách hàng</p>
        <a class="goBack-head" (click)="ReturnExitPage()">
            Go back
        </a>
    </div>
    <div class="card-body">
        <table class="styled-table">
            <thead>
              <tr>
                <th>STT</th>
                <th>Thông tin</th>
                <th>Nội dung</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of keyTrans; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.label }}</td>
                <td *ngIf="item.field == 'StatusTask';Else CaseNot">
                    <div class="ChoDuyet" *ngIf="dataDetail[item.field] === 0; else case1"><span class="title-cho">Đang xử lý</span> </div>
                    <ng-template #case1>
                      <div class="DaDuyet" *ngIf="dataDetail[item.field] === 1; else case2"><span class="title-duyet">Đã xử lý</span></div>
                    </ng-template>
                    <ng-template #case2>
                      <div class="DaHuy" *ngIf="dataDetail[item.field] === 2" else case2><span class="title-DaHuy">Đã hủy</span></div>
                    </ng-template>
                </td>
                <ng-template #CaseNot> 
                  <td >{{ dataDetail[item.field]}}</td>
                </ng-template>
              </tr>
              <tr>
                <td>{{amountKey + 1}}</td>
                <td style="color: #43A046; font-weight: 600;">Thành tiền</td>
                <td style="font-weight: 600;">{{totalAmount | currency:'VND':'symbol':'1.0-0' }}</td>
              </tr>
            </tbody>
          </table> 
    </div>
  </div>
  
<app-page-detail-task-info-repair-part-done *ngIf="status !== 0;else CaseNotDone"></app-page-detail-task-info-repair-part-done>

<ng-template #CaseNotDone>
  <app-page-detail-task-info-repair-part-not-done></app-page-detail-task-info-repair-part-not-done>
</ng-template>
