<h1 style="  margin-bottom: 2px;   margin-top: -27px; ">Chi tiết thông tin công việc</h1>
<div class="card">
    <div class="card-head" style="padding-bottom: 0px;">
        <p class="head-title" >Thông tin khách hàng</p>
        <a class="goBack-head" (click)="ReturnExitPage()">
            Go back
        </a>
    </div>
    <div class="card-body">
        <table class="styled-table">
            <thead>
              <tr>
                <th>STT</th>
                <th>Thông tin</th>
                <th>Nội dung</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of keyTrans; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.label }}</td>
                <td *ngIf="item.field == 'StatusTask';Else CaseNot">
                  <div class="ChoDuyet"  *ngIf=" dataDetail[item.field] == 0" #CaseChoXuLy><span class="title-cho">Đang xử lý</span>  </div>
                  <ng-template #CaseChoXuLy>
                    <td class="DaDuyet" ><span class="title-duyet">Đã xử lý</span></td>
                  </ng-template>
                </td>
                <ng-template #CaseNot>
                  <td >{{ dataDetail[item.field]}}</td>
                </ng-template>
              </tr>
              <tr>
                <td>{{amountKey + 1}}</td>
                <td style="color: #43A046; font-weight: 600;">Thành tiền</td>
                <td style="font-weight: 600;">{{totalAmount | currency:'VND':'symbol':'1.0-0' }}</td>
              </tr>
            </tbody>
          </table> 
    </div>
  </div>
  
<div class="card">
    <div class="card-head" style="padding-bottom: 0px;">
        <p class="head-title">Thông tin linh kiện dùng hàng mua</p>
    </div>
    <div class="card-body">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
                matSort (matSortChange)="announceSortChange($event)" 
        >
            <ng-container matColumnDef="RepairPartName">
              <th mat-header-cell *matHeaderCellDef> Tên linh kiện</th>
              <td mat-cell *matCellDef="let element"> {{element.RepairPartName}} </td>
            </ng-container>
            
            <ng-container matColumnDef="Price">
                <th mat-header-cell *matHeaderCellDef> Giá tiền</th>
                <td mat-cell *matCellDef="let element"> {{element.Price | currency:'VND':'symbol':'1.0-0' }} </td>
              </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="Amount">
              <th mat-header-cell *matHeaderCellDef> Số lượng </th>
              <td mat-cell *matCellDef="let element"> {{element.Amount}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>       
        <mat-paginator [pageSizeOptions]="[3]"
            showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
</div>
