

.Title-Page{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    margin-left: 4%;
}

.card{
    display: flex;
    width: 80%;
    border: none;
    margin-left: 6%;
    align-items: center;
    .mat-stepper-horizontal
    {
        width: 60%;
        border: solid 1px;
        border-radius: 10px;
        
        .InputTem2,
        .InputTem{
            display: flex;
            width: 90%;
            height: 420px;
            align-content: space-evenly;
            flex-direction: column;
            flex-wrap: wrap;
            margin-bottom: -6%;
            .mat-mdc-form-field
            {
                width: 100%;     
            }

        }
    }
}

        
.mat-mdc-form-field[_ngcontent-ng-c194527818]
{
    width: 335px;     
}


.place-img{
    display: block;
    width: 50%;
    padding-top: 24%;
    background: url(../assert/img7.png) top center / cover no-repeat;
    background-size: 80%;
    position: relative;
    margin-top: 150px;
    justify-self: center;
}