<h1>Danh sách phiếu bảo hành</h1>
  <div class="card">
    <div class="card-head">
        <div class="head-content-left">
            <div class="search-container">
                <div class="normal-sreach">
                    <input #inputIdWarranty
                        type = "search" class="sreach"  placeholder="Mã container"
                        (input)="SearchIdWarranty(inputIdWarranty)"
                    />
                    <mat-icon class="sreach-icon">find_in_page</mat-icon>
                </div>
            </div>
        </div>
        <div class="choose-TrangThai">
          <app-drop-down-list></app-drop-down-list>
      </div>
    </div>

    <div *ngIf="isLoading" class="loading-indicator">
        <!-- Hiển thị khi đang tải -->
        <p>Loading, please wait...</p>
    </div>
    
    <div *ngIf="!isLoading">
      <!-- Hiển thị dữ liệu sau khi tải -->
      <div class="card-body">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
              matSort (matSortChange)="announceSortChange($event)"    
        >
            <!-- Position Column -->
            <ng-container matColumnDef="IdWarrantyRecord">
              <th mat-header-cell *matHeaderCellDef> Mã phiếu bảo hành </th>
              <td mat-cell *matCellDef="let element"> {{element.IdWarrantyRecord}} </td>
            </ng-container>
          
          
            <!-- tên khách hàng Column -->
            <ng-container matColumnDef="CustomerName">
              <th mat-header-cell *matHeaderCellDef> Tên khách hàng </th>
              <td mat-cell *matCellDef="let element"> {{element.CustomerName}} </td>
            </ng-container>
          
            <!-- Số thiết bị Column -->
            <ng-container matColumnDef="DeviceName">
              <th mat-header-cell *matHeaderCellDef> Thiết bị bảo hành </th>
              <td mat-cell *matCellDef="let element"> {{element.DeviceName}} </td>
            </ng-container>

            <!-- Ngày lập Column -->
            <ng-container matColumnDef="DateOfResig">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày lập phiếu </th>
                <td mat-cell *matCellDef="let element">{{element.DateOfResig | date:'dd/MM/YYYY' }}</td>
            </ng-container>

            <!-- Ngày hết hạn Column -->
            <ng-container matColumnDef="TimeEnd">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày hết hạn </th>
                <td mat-cell *matCellDef="let element"> {{element.TimeEnd | date:'dd/MM/YYYY'}}</td>
            </ng-container>
            
            <!-- Trạng thái hạn Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
                <td mat-cell *matCellDef="let element"> 
                    <div class="ConHan" *ngIf=" CheckStatus(element.TimeEnd) == 1 else caseCho">
                        <span class="title-ConHan">Còn hạn</span>
                    </div>    
                    <ng-template #caseCho>
                        <div class="HetHan"> 
                          <span class="title-HetHan">Hết hạn</span>  
                        </div>
                    </ng-template>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>          
      </div>
      <!-- nút page xử lý -->
      <!-- <mat-paginator [pageSizeOptions]=  "[5, 10, 20]" -->
        <mat-paginator [pageSizeOptions]="[8]"
            showFirstLastButtons>
        </mat-paginator>
    </div>
    
  </div>



